.inspire {
  width: 100%;
  height: 1022px;
  margin-top: 128px;
  background-color: #eef4fa;
}
.inspire-tp {
  padding-top: 128px;
}
.gp-l {
  margin-left: 117px;
}
.group-left h2 {
  font-size: 38px;
}
